<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>NoteIt</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="NoteIt" name="keywords" />
  <meta content="NoteIt" name="description" />

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet" />
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-lg-0 px-lg-5 fadeIn"><a href="/" class="navbar-brand ms-4 ms-lg-0">
      <h1 class="text-primary m-0">NoteIt</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto p-4 p-lg-0">
        <a href="#" class="nav-item nav-link active">Notes</a>
        <a href="#" class="nav-item nav-link">Calendar</a>
        <a href="#" class="nav-item nav-link">Contacts</a>
      </div>
      <div class="d-lg-flex">
        <div class="ps-3">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle text-primary mb-0" data-bs-toggle="dropdown"><i class="fas fa-user me-1"></i>
              <%= username %>
            </a>
            <div class="dropdown-menu m-0">
              <a href="#" class="dropdown-item">Settings</a>
              <a href="/logout" class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->