<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NoteIt</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="NoteIt" name="keywords" />
    <meta content="NoteIt" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap"
        rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Login Start -->
    <div class="container d-flex justify-content-center py-6 fadeInUp">
        <div class="col-lg-4 pt-lg-12 py-6 text-center">
            <form action="/login" method="post" id="login" class="row g-1" autocomplete="on">
                <div class="mb-2">
                    <div class="form-floating">
                        <h1 class="text-primary py-2">NoteIt</h1>
                    </div>
                    <% if (warning) { %>
                        <div class="form-floating">
                            <p class="text-danger py-2">Invalid username or password</p>
                        </div>
                        <% } %>
                </div>
                <div class="mb-2 py-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" autocomplete="username" name="email"
                            value="<%= username %>" placeholder="Username" required>
                        <label for="email">Username</label>
                    </div>
                </div>
                <div class="mb-2 py-2">
                    <div class="form-floating">
                        <input type="password" class="form-control" autocomplete="current-password" name="password"
                            placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="mb-2 py-2">
                    <button class="btn btn-primary rounded-pill py-2 px-4" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Login End -->

    <%- include('footer') %>